.topics {
    max-height: 450px;
    overflow-y: scroll;
}

.highlight {
    background-color: #2d3092;
    color: white;
}

.subhighlight {
    background-color: #2d3092;
    color: white;
}

.listing {
    padding: 25px;
}