<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->
            <div class="my-5">
                <h4>My Profile</h4>
                <hr>
            </div>
            <!-- Form START -->
            <form class="file-upload">
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <h4 class="mb-4 mt-0">User detail</h4>
                            <div class="row g-3">
                                <div class="col-md-6 b-10">
                                    <label class="form-label">Username *</label>
                                    <input type="text" class="form-control" [disabled]="true" name="username" [(ngModel)]="model.username" placeholder="Username" aria-label="Username">
                                </div>
                                <div class="col-md-6 b-10">
                                    <label class="form-label">Email *</label>
                                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Username" aria-label="Username">
                                </div>
                                <div class="col-md-6 b-10">
                                    <label class="form-label">DOB *</label>
                                    <input type="text" class="form-control" name="dob" [(ngModel)]="model.dob"  placeholder="DOB" aria-label="DOB">
                                </div>
                                <div class="col-md-6 b-10">
                                    <label class="form-label">Address *</label>
                                    <input type="text" class="form-control" name="address" [(ngModel)]="model.address" placeholder="Address" aria-label="Address">
                                </div>
                            </div>
                        </div> <br/>
                        <button class="btn btn-primary">Update</button>
                    </div>
                 
                </div> <!-- Row END -->

                <!-- Social media detail -->
                <div class="row mb-5 gx-5">
                    <!-- change password -->
                    <div class="col-md-6">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <h4 class="my-4">Change Password</h4>
                            <div class="row g-3">
                                <!-- Old password -->
                                <div class="col-md-6 b-10">
                                    <label for="exampleInputPassword1" class="form-label">Old password *</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <!-- New password -->
                                <div class="col-md-6 b-10">
                                    <label for="exampleInputPassword2" class="form-label">New password *</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2">
                                </div>
                                <!-- Confirm password -->
                                <div class="col-md-12 b-10">
                                    <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                                    <input type="password" class="form-control" id="exampleInputPassword3">
                                </div>
                            </div>
                        </div> <br/>
                        <button class="btn btn-primary">Reset Password</button>
                    </div>
                </div> <!-- Row END -->
            </form> <!-- Form END -->
        </div>
    </div>
</div>